.footerImg {
	border-radius: 50%;
	opacity: 0.79.5;
	cursor: pointer;
	padding: 10px;
	transition: transform .2s;
	margin: 0 auto;
}

.footerImg:hover {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
	opacity: 1;
	transform: scale(1.02);
}

.footerImgA {
	text-decoration: none;
}

.footer {
	text-align: center;
}

.contact-form-input {
	height: 30px;
	width: 400px;
	text-align: center;
}

.contact-form-large-input {
	height:100px;
	width: 400px;
	text-align: center;
}

.contact-form-label {
	font-size: 20px;
	font-family: "Lucida Console", "Courier New", monospace;
}

.footer2 {
	position: fixed;
	left: 10px;
	bottom: 5px;
	right: 10px;
	text-align: center;
}

.contactFormDiv {
	text-align: center;
}

.footerImgA {
	text-decoration: none;
}

.viewMyWorkImg {
	border-radius: 6px;
	filter: saturate(90%) opacity(90%);

	transition: all 500ms ease;
}

.viewMyWorkImg:hover {
	filter: saturate(100%) opacity(100%);
	border-radius: 7px;
	transform: scale(1.005);
}

.imgForIn_Gallery {
	border-radius: 6px;
	margin-left:10px;
	margin-right:10px;
	max-height:505px;
	max-width:600px;
	height:auto;
	width:auto;
	
	transition: transform .15s;
}

.imgForIn_Gallery:hover {
	border-radius: 7px;
	transform: scale(1.005);
}

.centeredDivForImages {
	text-align: center;
}

.viewMyWorkA {
	text-decoration: none;
}

#footerContactMeA {
	cursor: pointer;
	text-decoration: underline;
	color: rgb(32, 32, 32);
	font-size: 25px;
	opacity: 0.9;
}

#footerContactMeA:hover {
	opacity: 1;
	color: rgb(0, 0, 0);
}

.footerContactAPopOutDiv {
	padding: 10px;
	transition: transform .15s;
	margin: 0 auto;
}

.footerContactAPopOutDiv:hover {
	transform: scale(1.004);
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	align-items: center;
}

.headerKetoPhotographyA {
	color: #ffffff;
	font-size: 26px;
}

.header {
	width: 100%;
	height: 80px;
	background-color: #1b1b1b;
	opacity: 0.9;
	font-family: "Times New Roman", Times, serif;
}

.formSubmitButtonClass {
	background-color: white;
	color: black;
	border: 2px solid black;
	padding: 18px 30px;
	text-align: center;
	border-radius: 25px;
	font-size: 16px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.formSubmitButtonClass:hover {
  background-color: #404040;
  color: white;
}

.inner {
	width: 1300px;
	height: 100%;
	display: block;
	margin: 0 auto;
}