.footerImg {
	border-radius: 50%;
	opacity: 0.79.5;
	cursor: pointer;
	padding: 10px;
	transition: transform .2s;
	margin: 0 auto;
}

.footerImg:hover {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
	opacity: 1;
	transform: scale(1.02);
}

.footerImgA {
	text-decoration: none;
}

.footer {
	text-align: center;
}

.contact-form-input {
	height: 30px;
	width: 400px;
	text-align: center;
}

.contact-form-large-input {
	height:100px;
	width: 400px;
	text-align: center;
}

.contact-form-label {
	font-size: 20px;
	font-family: "Lucida Console", "Courier New", monospace;
}

.footer2 {
	position: fixed;
	left: 10px;
	bottom: 5px;
	right: 10px;
	text-align: center;
}

.contactFormDiv {
	text-align: center;
}

.footerImgA {
	text-decoration: none;
}

.viewMyWorkImg {
	border-radius: 6px;
	filter: saturate(90%) opacity(90%);

	transition: all 500ms ease;
}

.viewMyWorkImg:hover {
	filter: saturate(100%) opacity(100%);
	border-radius: 7px;
	transform: scale(1.005);
}

.imgForIn_Gallery {
	border-radius: 6px;
	margin-left:10px;
	margin-right:10px;
	max-height:505px;
	max-width:600px;
	height:auto;
	width:auto;
	
	transition: transform .15s;
}

.imgForIn_Gallery:hover {
	border-radius: 7px;
	transform: scale(1.005);
}

.centeredDivForImages {
	text-align: center;
}

.viewMyWorkA {
	text-decoration: none;
}

#footerContactMeA {
	cursor: pointer;
	text-decoration: underline;
	color: rgb(32, 32, 32);
	font-size: 25px;
	opacity: 0.9;
}

#footerContactMeA:hover {
	opacity: 1;
	color: rgb(0, 0, 0);
}